.header-container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-bottom: 1px solid orange;
}

.header-container > div {
    margin: 20px;
}

#app-title {
    color: orange;
    margin: 20px 0px 20px 50px;
}

.link {
    margin-right: 30px;
    color: orange;
}

.link:hover {
    color: darkorange;
    text-decoration: none;
}

.header-btn {
    background-color: orange;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
    margin-top: 15px;
    margin-right: 10px;
}

.header-btn:hover {
    background-color: darkorange;
}

@media (max-width: 800px) {
    .header-container {
        flex-direction: column;
    }
    .header-container > div {
        margin: 0px 0px 10px 30px;
    }
    
    #app-title {
        color: orange;
        margin: 20px 0px 0px 20px;
    }
    
}
