.header-container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-bottom: 1px solid orange;
}

.header-container > div {
    margin: 20px;
}

#app-title {
    color: orange;
    margin: 20px 0px 20px 50px;
}

.link {
    margin-right: 30px;
}

@media (max-width: 800px) {
    .header-container {
        flex-direction: column;
    }
}
